# PostgreSQL configuration
POSTGRESQL_VERSION=18
POSTGRES_DB=backend
POSTGRES_USER=backend
POSTGRES_PASSWORD=backend
POSTGRES_PORT=5432
# Minio configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_VERSION=latest
# Open-design configuration
OPEN_DESIGN_VERSION=v1.1.0
OPEN_DESIGN_API_TOKEN="$(openssl rand -hex 32)"
OPEN_DESIGN_CHAT_RUN_INACTIVITY_TIMEOUT_MS=600000
OPEN_DESIGN_PORT=7456
# Opencode configuration
DEEPSEEK_API_KEY="<DEEPSEEK_API_KEY>"
CONTEXT7_API_KEY="<CONTEXT7_API_KEY>"
# This is tricky, that leaves a local hardcoded path in the .env file.
HOST_PROJECT_DIR="<HOST_PROJECT_DIR>"
COMPOSE_PROJECT_NAME="<COMPOSE_PROJECT_NAME>"
# Prometheus configuration
PROMETHEUS_PORT=9090
PROMETHEUS_VERSION=latest
# Playwright configuration
PLAYWRIGHT_VERSION=v1.50.0-noble
# GitHub configuration
GITHUB_USERNAME="<GITHUB_USERNAME>"
GITHUB_TOKEN="<GITHUB_TOKEN>"
# Mailpit configuration
MAILPIT_SMTP_PORT=1025
MAILPIT_HTTP_PORT=8025